header{
    height: 100px;
    background-color: rgb(0, 179, 255);
    background-image: url(../img/pattern.png);
    background-size: contain;
}
.tx-gray{
    color: gray;
}
.tx-blue{
    color: blue;
}
.tx-10px{
    font-size: 10px;
}